html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: center;

    user-select: none;
    touch-action: manipulation;

    overflow: hidden;
    overscroll-behavior: none;
    height: 100%;
}

main {
    min-height: 90%;
    max-height: 100%;
    min-width: 90%;
    max-width: 100%;

    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.joystick {
    background-color: gray;

    border-style: none;
    border-radius: 100%;
    box-shadow: 0 0 0px 12px black inset;
    
    touch-action: none;
}

#joystick-mount {
    min-width: 10vw;
    min-height: 60vh;
    aspect-ratio: 1;
}

#joystick-handle {
    width: 66%;
    height: 66%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#left-side {
}

#right-side {    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.button {
    min-width: 10vw;
    min-height: 10vh;

    font-size: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    aspect-ratio: 1;
    border-radius: 50%;
}

.rect {
    border-radius: 12px;
}

#button-Y {
    grid-column: 2;
    grid-row: 1;

    background-color: darkkhaki;
}

#button-X {
    grid-column: 1;
    grid-row: 2;

    background-color: dodgerblue;
}

#button-B {
    grid-column: 3;
    grid-row: 2;

    background-color: crimson;
}

#button-A {
    grid-column: 2;
    grid-row: 3;

    background-color: darkgreen;
}

#button-menu {
    min-height: unset;
    height: 8vh;

    background-color: gray;
}

.pressed-button {
    background-color: white !important;
}