body {
    background-color: white;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: center;
}

#buttonContainer {
    display:flex;
    width: 100vw;
    height: 70vh;
}
#leftButton {
    width: 50vw;
    height: 70vh;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 50vh;
    text-align: center;
    line-height: 70vh;
    border-radius: 30px;
    touch-action: none;
}
#rightButton {
    width: 50vw;
    height: 70vh;
    font-size: 50vh;
    line-height: 70vh;
    border-radius: 30px;
    touch-action: none;
}

#menuContainer {
    display:flex;
    width: 100vw;
    height: 30vh;
    font-size: 15vh;
    text-align: center;
    line-height: 30vh;
}
#backButton {
    width: 10vw;
    height: 30vh;
    font-size: 8vh;
    border-radius:30px;
}
#middleButton {
    width: 60vw;
    height: 30vh;
    border-radius: 30px;
}
#nextButton {
    width: 30vw;
    height: 30vh;
    border-radius: 30px;
}