html {
}

body {
    max-height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: grey;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: center;

    user-select: none;
    touch-action: manipulation;

    overflow: hidden;
    overscroll-behavior: none;
    height: 100%;

    padding: 10vw;
}

.joystick {
    background-color: gray;

    border-style: none;
    border-radius: 100%;
    box-shadow: 0 0 0px 12px black inset;
    
    touch-action: none;
}

#joystick-mount {
    min-width: 10vw;
    min-height: 60vh;
    aspect-ratio: 1;
}

#joystick-handle {
    width: 66%;
    height: 66%;
    transform: translate(50px, 50px);
    
    /* box-shadow: 0 0 10px 10px rgba(78, 78, 78, 0.5); */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#left-side {
}

#right-side {    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.circle-button {
    min-width: 10vw;
    min-height: 10vh;
    aspect-ratio: 1;

    font-size: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

#button-Y {
    grid-column: 2;
    grid-row: 1;

    background-color: darkkhaki;
}

#button-X {
    grid-column: 1;
    grid-row: 2;

    background-color: dodgerblue;
}

#button-B {
    grid-column: 3;
    grid-row: 2;

    background-color: crimson;
}

#button-A {
    grid-column: 2;
    grid-row: 3;

    background-color: darkgreen;
}

.pressed-button {
    background-color: black !important;
}